# macOS
.DS_Store

# Xcode / Swift
build/
DerivedData/
*.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
*.xcuserstate

# Swift Package Manager (SPM)
.build/
Packages/
Package.resolved
.swiftpm/

# Tuist
.tuist-bin/
.tuist-cache/
Tuist/Derived/
Tuist/.build/

